[Unit]
Description=Jenkins container
Requires=setup-instance.service docker.service
After=setup-instance.service docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker start --attach jenkins
ExecStop=/usr/bin/docker stop jenkins