[Unit]
Description=Create Jenkins container
Requires=docker-jenkins-build.service
After=docker-jenkins-build.service
ConditionFirstBoot=true

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/docker create \
  --volume /media/volume/home/jenkins:/var/jenkins_home \
  --publish 8080:8080 \
  --memory-reservation 768m \
  --memory 768m \
  --memory-swap 1024m \
  --cpu-shares 1024 \
  --net host \
  --name jenkins \
  --env "JAVA_OPTS=-Dhudson.DNSMultiCast.disabled=true -Xmx512m -XX:MaxMetaspaceSize=128m" \
  stuartw.io/jenkins