[Unit]
Description=Formats the volume drive
Requires=dev-xvdk.device git-clone.service
After=dev-xvdk.device git-clone.service
ConditionFirstBoot=true

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/root/infrastructure/instance/scripts/format-volume.sh