[Unit]
Description=Mount volume to /var/lib/docker/volumes
Requires=dev-xvdk.device format-volume.service
After=dev-xvdk.device format-volume.service

[Mount]
What=/dev/xvdk1
Where=/media/volume
Type=ext4