[Unit]
Description=Checks out the Git repository
Requires=media-volume.mount git-clone.service
After=media-volume.mount git-clone.service
ConditionFirstBoot=true

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/root/infrastructure/instance/scripts/setup-instance.sh