[Unit]
Description=Instance setup
Requires=home-jenkins.mount home-git.mount opt-git-ssh.mount git-clone.service docker.service network-online.target
After=home-jenkins.mount home-git.mount opt-git-ssh.mount git-clone.service docker.service network-online.target
ConditionFirstBoot=true

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/root/infrastructure/instance/scripts/setup-instance.sh