[Unit]
Description=Instance setup
Requires=home-jenkins.mount home-git.mount opt-git-ssh.mount git-clone.service
After=home-jenkins.mount home-git.mount opt-git-ssh.mount git-clone.service
ConditionFirstBoot=true

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/root/infrastructure/instance/scripts/setup-instance.sh