[Unit]
Description=Creates SSH key for Jenkins
Requires=user-jenkins.service
After=user-jenkins.service
ConditionFirstBoot=true
ConditionPathExists=!/media/volume/home/jenkins/.ssh/id_rsa

[Service]
User=jenkins
Group=jenkins
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/ssh-keygen -t rsa -C jenkins.stuartw.io -f /media/volume/home/jenkins/.ssh/id_rsa