[Unit]
Description=Create Jenkins user
Requires=media-volume.mount group-jenkins.service
After=media-volume.mount group-jenkins.service
ConditionFirstBoot=true

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/sbin/useradd --uid 1000 \
  --create-home \
  --home-dir /media/volume/home/jenkins \
  --gid jenkins \
  --shell /sbin/nologin \
  jenkins